.map-content {
    width: 100%;
    height: 100%;
}
mat-card {
    height: 96%;
    width: 97%;
    background-color: whitesmoke;
}

.imgFoto {
    object-fit: scale-down;
    width: 120px;
    height: 100px;
    border-radius: 8px;
}
